body {
    background: #002B36;
    color: #93A1A1;
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    position: relative;
}

.button {
    padding-top: 1em;
    margin-top: 3em;
    width: 100%;
    text-align: center;
}

.notify {
    font-size: 32pt;
    margin-bottom: 0px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height: 80px;
    width: 300px;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

input {
    width: 720px;
    font-size: 34pt;
    margin-top: 1em;
    background: #93A1A1;
    color: white;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    padding: 10px 20px 10px 20px;
}

#submit_btn:disabled {
    /* background: #325975; */
    background: #195B89;
}

#text_label {
    font-size: 30pt;
    font-weight: bold;
}

#container {
    text-align: center;
    width: 720px;
    float: left;
    background: black;
    height: 100%;
}

h1 {
    font-size: 24pt;
}

.queue {
    text-align: left;
    font-size: 24pt;
    padding-bottom: 8pt;
}

.vid_info {
    display: none;
    margin-top: .25em;
    margin-bottom: .4em;
    margin-left: 1em;
    font-size: 22pt;
    color: white;
}

.vid_info a {
    color: #6C71C4;
}

#loading {
    height: 30px;
    margin-left: 10px;
    display: none;
}

#queue_container {
    padding: 1em;
    text-align: left;
    width: 720px;
    margin:0 auto;
    padding-bottom: 5em;
}

#np {
    color: white;
}

#banner_title {
    font-size: 32pt;
    padding: 20px;
    margin: 0px;
    color: white;
}

#footer {
    width: 100%;
    background: #00242E;
    margin-bottom: 0px;
    color: white;
    position: absolute;
    bottom: 0;
    margin-top: 1em;
}

#footer p {
    padding: 8px;
    padding-bottom: 20px;
    margin: 0px;
    float: right;
    font-size: 18pt;
}

#banner {
    width: 100%;
    background: #268BD2;
    margin-bottom: 3em;
    color: white;
}

#queue_title {
    color: #6C71C4;
    display: inline;
}

#queue_title span {
    text-decoration: underline;
}

#new_vid {
    margin: 0px;
}

#submission {
    margin-top: 1em;
    display: none;
}

a {
    color: white;
}
