{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/behavior.js" type="text/javascript"></script>
{% endblock %}

{% block banner %}
    <h1 id="banner_title">
        <span id="np">Now Playing:</span>
        <span id="np_song">
            {% include "now_playing.html" %}
        </span>
    </h1>
{% endblock %}

{% block text_label %}
    Paste a YouTube Link:
{% endblock %}

{% block button_type %}
    <button id="submit_btn" class="btn">Submit Link</button>
{% endblock %}

{% block queue_list %}
    <div id="queue_container">
        {% include "queue.html" %}
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <p><a href="/logout">{{ username }} logout</a></p>
    </div>
{% endblock %}
