{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/js/behavior.js" type="text/javascript"></script>
    <title>yt_box: Video Queue</title>
{% endblock %}

{% block banner %}
    {% include "now_playing.html" %}
{% endblock %}

{% block text_label %}
    Enter a YouTube Link:
{% endblock %}

{% block drop %}
    <div class="dropdown pull-right" id="user_opt">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ user }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
{% endblock %}

{% block button_type %}
    <button id="submit_btn" class="btn-default btn-lg">Submit Link</button>
{% endblock %}

{% block queue_list %}
    <div class="row" id="queue_container">
        {% include "queue.html" %}
    </div>
{% endblock %}
