<div class="row queue_header">
    <ul>
        <li><span id="loading" class="small glyphicon glyphicon-refresh" aria-hidden="true"></span></li>
        <li><h2 id="queue_title"> Video Queue <small>({{ q_count }})</small></h2></li>
    </ul>
</div>

<table class="table table-condensed table-striped">
    <tbody>
        {% for vid in queue %}
        <tr class="vid_row" >
            <td class="queue_song" data-toggle="collapse" data-target="#vid_{{ loop.index }}">
                {{ loop.index }}.
            </td>
            <td>
                <p class="queue_song" data-toggle="collapse" data-target="#vid_{{ loop.index }}">{{ vid.name|e }}</p>
                <dl class="collapse" id="vid_{{ loop.index }}">
                    <dt>Submitted by {{ vid.username }}</dt>
                    <dt>
                        <div class="btn-group btn-group-sm" role="group" aria-label="song actions">
                          <a class="btn btn-default" href="https://www.youtube.com/watch?v={{ vid.id }}" target="_blank">View</a>
                          <button id="{{ vid.id }}" type="button" class="btn btn-default queue_rm">Remove</button>
                        </div>
                    </dt>
                </dl>
            </td>
            <td class="queue_song" data-toggle="collapse" data-target="#vid_{{ loop.index }}">
                <span class="queue_song_hint glyphicon glyphicon-collapse-down"></span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
